<ion-view title="home">
    <ion-content padding="'true'" class="has-header">
        <a menu-close="" href="#/page2" class="button button-dark button-block  icon-left ion-checkmark-circled">Cards</a>
        <a menu-close="" href="#/page3" class="button button-positive button-block  icon-left ion-funnel">Forms</a>
        <a menu-close="" href="#/page4" class="button button-balanced button-block  icon-left ion-android-alarm-clock">Toggle</a>
        <a menu-close="" href="#/page5" class="button button-calm button-block  icon-left ion-social-snapchat-outline">Action Sheet</a>
        <a menu-close="" href="#/page6" class="button button-positive button-block  icon-left ion-ios-americanfootball">Modal</a>
        <a menu-close="" href="#/page7" class="button button-energized button-block  icon-left ion-cube">Popup</a>
        <a menu-close="" href="#/page8" class="button button-assertive button-block  icon-left ion-xbox">Event</a>
        <div class="button-bar">
            <a menu-close="" href="#/page9" class="button button-assertive button-block ">Checks</a>
            <a menu-close="" href="#/page10" class="button button-calm button-block ">Range</a>
            <a menu-close="" href="#/page11" class="button button-energized button-block ">Radio</a>
        </div>
    </ion-content>
</ion-view>