<ion-view title="range">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <ion-item class="range range-positive">Range
                <input type="range" value="50" min="0" max="100" ng-model='value'>
                <h1>{{value}}</h1>
            </ion-item>
            <ion-item class="range range-positive">Range
                <input type="range" value="50" min="0" max="100">
            </ion-item>
            <ion-item class="range range-positive">Range
                <input type="range" value="50" min="0" max="100">
            </ion-item>
        </form>
    </ion-content>
</ion-view>